/* back button */
.backButton {
    margin-top: 110px;
    margin-left: 30px;
    display:block;
    width:60px;
    height:50px;
    line-height:50px;
    border: 3px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #34282c;
    box-shadow: 0 0 3px gray;
    font-size: 30px;
    padding-bottom: 53px;
    padding-left: 5px;

}

.backButton:focus, .backbutton:active, .backbutton.active, .backbutton:focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* textbox */
input[type=text], select {
    width: 40%;
    height: 60px;
    padding: 12px 20px;
    margin-left: 450px;
    display: inline-block;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    box-sizing: border-box;
    outline: none;
}


textarea {
  width: 40%;
  height: 150px;
  padding: 12px 20px;
  margin-left: 450px;
  display: inline-block;
  border: 1px solid #ccc;
  /*border-radius: 4px;*/
  box-sizing: border-box;
  outline: none;
}

/* about us labels */
.aboutus_label {
    font-size: 25px;
    font-family: Century Gothic, sans-serif;
    margin-top: 50px;
    margin-left: 450px;
}

#aboutus_top_label {
  margin-top: 0px;
}


/* Navigation Bar */
.navbar_container {
    position: fixed;
    /*border-style: solid;*/
    /*border-color: red;*/
    width: 100vw;
    height: 75px;
    left: 0;
    margin-left: 0 auto;
    margin-right: 0 auto;
    top: 0;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    height: 75px;
    margin: 0px;
    padding: 0px;
}

li {
    float: right;
    font-family: Century Gothic, sans-serif;
    font-size: 20px;
    padding-top: 7px;
    padding-right: 15px;
    padding-left: 8px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}







marquee {
  margin-top: 80px;
  font-family: cocogoose;
  font-size: 180px;
  text-align: center;
  letter-spacing: 10px;
  color: #583759;
}





@font-face {
    font-family: cocogoose;
    src: url(/fonts/Cocogoose_trial.otf);
}

@font-face {
    font-family: Open Sans;
    src: url(./fonts/OpenSans-Regular.ttf);
}
