#container {
    position: relative;
    /*border-style: solid;
    border-color: red;*/
    top: 75px;
    width: 97vw;
    height: calc(97vh - 75px);
}

#endgameTrans {
    position: absolute;
    border-style: solid;
    border-color: pink;
    background-color: black;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    opacity: .5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#endgameOpts {
    position: absolute;
    border-style: solid;
    border-color: pink;
    background-color: white;
    margin: auto;
    text-align: center;
    top: 0; left: 0; bottom: 0; right: 0;
}

/* Navigation Bar */
#navbarList {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    height: 75px;
    margin: 0px;
    padding: 0px;
}

#navbar {
    position: fixed;
    /*border-style: solid;*/
    /*border-color: red;*/
    width: 100vw;
    height: 75px;
    left: 0;
    margin-left: 0 auto;
    margin-right: 0 auto;
    top: 0;
}

li.navbarItem {
    float: right;
    font-family: Century Gothic, sans-serif;
    font-size: 20px;
    padding-top: 7px;
    padding-right: 15px;
    padding-left: 8px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.navbarItem:hover {
    background-color: #111;
}

#gameContainer {

    position: absolute;
    /*border-style: solid;
    border-color: red;*/
}

#boardContainer {

    position: absolute;
    /*border-style: solid;
    border-color: red;*/
}

#dataContainer {

    position: absolute;
    border-style: solid;
    border-color: blue;

}

#playerContainer {

    position: absolute;
    /*border-style: solid;
    border-color: red;*/
}

#playerTable {
    position: absolute;
    border-style: solid;
    border-color: orange;
}

#buttonContainer {
    position: absolute;
    /*border-style: solid;
    border-color: red;*/
    text-inline: center;

}

.button {
    background-color: white;
    text-align: center;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #333;
    color: white;
}

.endgameButton {
    background-color: white;
    text-align: center;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.endgameButton:hover {
    background-color: #333;
    color: white;
}


#playerConsole {

    font-family: Century Gothic, sans-serif;
    position: absolute;
    border-style: solid;
    border-color: grey;
    text-align: left;
    overflow: scroll;


}

table {
    border: 1px solid grey;

}

th, td {
    /*padding: .5vh;*/
    text-align: left;
    border-bottom: .5vh solid grey;
    border-right: .5vh solid grey;
}

th {
    background-color: grey;
    color: white;
}

td {
    border-left: none;
    border-right: none;
}
