#container {
    position: relative;
    border-style: solid;
    border-color: red;

    min-height: 400px;
    min-width: 400px;

    width: 98vw;
    height: 97vh;
}

#gameContainer {

    position: absolute;
    border-style: solid;
    border-color: yellow;
    min-width: inherit;
    min-height: inherit;
    width: 70vw;
    height: inherit;
}

#boardContainer {

    position: absolute;
    border-style: solid;
    border-color: green;
    min-width: 300px;
    min-height: 300px;
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

#dataContainer {
    position: absolute;
    right: -300px;
    border-style: solid;
    border-color: blue;
    width: 300px;
    min-height: inherit;
    height: inherit;
}



* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
