* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo_text {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    margin-left: 250;
}



.boardOption {
    font-size: 20px;
}

input[type="radio"] {
    margin: 0 10px 0 40px;
}


#container {
    position: fixed;
    /*border-style: solid;*/
    /*border-color: red;*/
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 98vw;
    height: 88vh;
    top: 75px;
}

#logoContainer {
    position: fixed;
    /*border-style: solid;*/
    /*border-color: red;*/
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 700px;
    height: 500px;
    top: 150px;
}


/* styling for the logo */
.title_section1 {
    font-family: cocogoose;
    font-size: 30px;
    margin-top: 55px;
    margin-left: 100px;
    margin-bottom: -50px;
    letter-spacing: 10px;
}

.title_section2 {
    font-family: cocogoose;
    font-size: 220px;
    text-align: center;
    letter-spacing: 10px;
}

.title_section3 {
    font-family: cocogoose;
    font-size: 30px;
    margin-left: 300px;
    margin-top: -70px;
    letter-spacing: 3px;
}


#playerContainer {
    position: fixed;
    /*border-style: solid;*/
    /*border-color: red;*/
    margin-left: auto;
    margin-right: auto;
    text-align:center;

    left: 0;
    right: 0;
    width: 700px;
    height: 200px;
    top: 250px;
}

.button {
    background-color: white;
    width: 400px;
    padding: 16px 32px;
    text-align: center;
    font-size: 24px;
    font-family: Century Gothic, sans-serif;
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-weight: bold;
    margin: 10px 2px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    border-radius: 1000px;
}

.button:hover {
    background-color: #333;
    color: white;
}

#loginOptionContainer {
    position: fixed;
    /*border-style: solid;*/
    /*border-color: red;*/
    margin-left: auto;
    margin-right: auto;
    text-align:center;

    left: 0;
    right: 0;
    width: 700px;
    height: 220px;
    top: 250px;
}

#loginContainer {
    position: fixed;
    /*border-style: solid;*/
    /*border-color: red;*/
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    left: 0;
    right: 0;
    width: 700px;
    height: 400px;
    top: 150px;
}

.username_label {
    font-size: 25px;
    font-family: Century Gothic, sans-serif;
    margin-left: -180px;
}

.password_label {
    font-size: 25px;
    font-family: Century Gothic, sans-serif;
    margin-left: -180px;

}

input[type=text] {
    width: 300px;
    height: 60px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    box-sizing: border-box;
    outline: none;
}

#pw_login_textbox {
    margin-bottom: 40px;
}

#signUpContainer {
    position: fixed;
    /*border-style: solid;*/
    /*border-color: red;*/
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    left: 0;
    right: 0;
    width: 700px;
    height: 400px;
    top: 150px;
}

#pw_signup_textbox {
    margin-bottom: 40px;
}

#boardOptionContainer {
    position: fixed;
    /*border-style: solid;*/
    /*border-color: red;*/
    margin-left: auto;
    margin-right: auto;
    text-align:center;

    left: 0;
    right: 0;
    width: 700px;
    height: 400px;
    top: 150px;
}

#boardSizeLabel {
    font-size: 25px;
    font-family: Century Gothic, sans-serif;
}

#boardColorLabel {
    font-size: 25px;
    font-family: Century Gothic, sans-serif;
}

#backButtonContainer {
    position: fixed;
    /*border-style: solid;*/
    /*border-color: red;*/
    width: 60px;
    height: 50px;
    top: 80px;
    left: 10px;
}

.backbutton {
    z-index: 2;
    margin-top: 30px;
    margin-left: 30px;
    display:block;
    width:60px;
    height:50px;
    line-height:50px;
    border: 3px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #34282c;
    box-shadow: 0 0 3px gray;
    font-size: 30px;
    padding-bottom: 53px;
    padding-left: 5px;

}

.backbutton:focus, .backbutton:active, .backbutton.active, .backbutton:focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Navigation Bar */
#navbarList {

    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    height: 75px;
    margin: 0px;
    padding: 0px;
}

#navbar {
    position: fixed;
    /*border-style: solid;*/
    /*border-color: red;*/
    width: 100vw;
    height: 75px;
    left: 0;
    margin-left: 0 auto;
    margin-right: 0 auto;
    top: 0;
}

li.navbarItem {
    float: right;
    font-family: Century Gothic, sans-serif;
    font-size: 20px;
    padding-top: 7px;
    padding-right: 15px;
    padding-left: 8px;
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.navbarItem:hover {
    background-color: #111;
}

body {

}

@font-face {
    font-family: cocogoose;
    src: url(./fonts/Cocogoose_trial.otf);
}

@font-face {
    font-family: Open Sans;
    src: url(./fonts/OpenSans-Regular.ttf);
}
